<div class="row">
    <div>
        <h1>Educación</h1><button type="button" title="Agregar nueva" class="btn btn-success abm"
            (click)="openCreateModal('crear-edu')" *ngIf="isLogged">
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>
    <div class="col-xs-11 col-lg-11">
        <ul *ngFor="let edu of educacionC">
            <li>
                <h1>Año {{edu.anio}} - {{edu.titulo}}</h1>
                <button *ngIf="isLogged" type="button" title="Editar" class="btn btn-warning abm"
                    (click)="openUpdateModal('editar-edu', edu)"><i class=" bi bi-pencil-square"></i></button>
                <button *ngIf="isLogged" type="button" title="Eliminar" class="btn btn-danger abm"
                    (click)="borrar(edu.id)"><i class="bi bi-trash"></i></button>
                <p>{{edu.institucion}}</p>
            </li>
        </ul>
    </div>

    <jw-modal id="crear-edu">
        <div class="row">
            <h1>Nueva Educación</h1>
        </div>
        <div class="row">
            <h2>Año</h2>
            <input class="form-control" type="text" id="anio" name="anio"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="anio" required>
        </div>
        <div class="row">
            <h2>Título</h2>
            <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="titulo" required>
        </div>
        <div class="row">
            <h2>Institución educativa</h2>
            <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="institucion"
                required>
        </div>
        <div class="row">
            <button (click)="crear()" class="btn btn-primary btn-lg btn-block">CREAR</button>
            <button (click)="closeModal('crear-edu');" class="btn btn-secondary btn-lg btn-block">CANCELAR</button>
        </div>
    </jw-modal>

    <jw-modal id="editar-edu">
        <div class="row">
            <h1>Educación</h1>
        </div>
        <div class="row">
            <h2>Año</h2>
            <input class="form-control" type="text" id="anio" name="anio"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="anio" required>
        </div>
        <div class="row">
            <h2>Título</h2>
            <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="titulo" required>
        </div>
        <div class="row">
            <h2>Institución educativa</h2>
            <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="institucion"
                required>
        </div>
        <div class="row">
            <button (click)="actualizar()" class="btn btn-primary btn-lg btn-block">ACTUALIZAR</button>
            <button (click)="closeModal('editar-edu');" class="btn btn-secondary btn-lg btn-block">CANCELAR</button>
        </div>
    </jw-modal>

</div>