<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-xs-11 col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestiae voluptatibus eum porro facilis error autem perspiciatis nobis doloremque veritatis? Nam et sed enim iure quidem laudantium unde alias asperiores!</p>
            <li><h1>Trabajo 2</h1> - <h3>(años)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestiae voluptatibus eum porro facilis error autem perspiciatis nobis doloremque veritatis? Nam et sed enim iure quidem laudantium unde alias asperiores!</p>
        </ul>
    </div>
</div>
