<div class="row">
    <div>
        <h1>Experiencia Laboral</h1><button type="button" title="Agregar nueva" class="btn btn-success"
            (click)="openCreateModal('crear-exp')" *ngIf="isLogged">
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>
    <div class="col-xs-11 col-lg-11">
        <ul *ngFor="let exp of experiencias">
            <li>
                <h1>{{exp.nombreExp}}</h1> - <h3>({{exp.duracion}} Años)</h3>
                <button *ngIf="isLogged" type="button" title="Editar" class="btn btn-warning"
                    (click)="openUpdateModal('editar-exp',exp)"><i class=" bi bi-pencil-square"></i></button>
                <button *ngIf="isLogged" type="button" title="Eliminar" class="btn btn-danger"
                    (click)="borrar(exp.id)"><i class="bi bi-trash"></i></button>
                <p>{{exp.descripcion}}</p>
            </li>
        </ul>
    </div>

    <jw-modal id="crear-exp">
        <div class="row">
            <h1>Nueva Experiencia Laboral</h1>
        </div>
        <div class="row">
            <h2>Lugar de trabajo</h2>
            <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp" required>
        </div>
        <div class="row">
            <h2>Descripción</h2>
            <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion"
                required>
        </div>
        <div class="row">
            <h2>Duración (en años)</h2>
            <input class="form-control" type="text" id="años" name="años"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="duracion" required>
        </div>
        <div class="row">
            <button (click)="crear()" class="btn btn-primary btn-lg btn-block">CREAR</button>
            <button (click)="closeModal('crear-exp');" class="btn btn-secondary btn-lg btn-block">CANCELAR</button>
        </div>
    </jw-modal>

    <!--<jw-modal id="editar-exp">
        <h1>Experiencia Laboral</h1>
        <label>Lugar de trabajo</label>
        <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp" required>
        <label>Descripcion</label>
        <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion" required>
        <button (click)="actualizar()" class="btn btn-primary btn-lg btn-block">ACTUALIZAR</button>
        <button (click)="closeModal('editar-exp');" class="btn btn-secondary btn-lg btn-block">CANCELAR</button>
    </jw-modal>-->

    <jw-modal id="editar-exp">
        <div class="row">
            <h1>Experiencia Laboral</h1>
        </div>
        <div class="row">
            <h2>Lugar de trabajo</h2>
            <input type="text" class="form-control" id="nombreExp" name="nombreExp" [(ngModel)]="nombreExp" required>
        </div>
        <div class="row">
            <h2>Descripción</h2>
            <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="descripcion"
                required>
        </div>
        <div class="row">
            <h2>Duración (en años)</h2>
            <input class="form-control" type="text" id="duracion" name="duracion"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57' [(ngModel)]="duracion" required>
        </div>
        <div class="row">
            <button (click)="actualizar()" class="btn btn-primary btn-lg btn-block">ACTUALIZAR</button>
            <button (click)="closeModal('editar-exp');" class="btn btn-secondary btn-lg btn-block">CANCELAR</button>
        </div>
    </jw-modal>

</div>