<div class="row">
    <div class="container">
        <div class="logo-header">
            <img src="../../../assets/LogoAP.png" id="logoAP">#YoProgramo  
        </div>
        <div class="social">
            <a href=""><img src="../../../assets/IconF.png" class="redes"></a>
            <a href=""><img src="../../../assets/IconI.png" class="redes"></a>
            <a href=""><img src="../../../assets/IconY.png" class="redes"></a>
            <a href=""><img src="../../../assets/IconT.png" class="redes"></a>
            <button type="button" class="btn btn-outline-light login" (click)="login()">LOGIN</button>
        </div>
    </div>
</div>
