<div class="row">
    <div class="container">
        <div class="logo-header">
            <img src="../../../assets/LogoAP.png" id="logoAP">#YoProgramo  
        </div>
        <div class="social">
            <a href="https://www.facebook.com/profile.php?id=100087147768231"><img src="../../../assets/IconF.png" class="redes"></a>
            <a href="https://twitter.com/rs_social22"><img src="../../../assets/IconT.png" class="redes"></a>
            <button type="button" class="btn btn-outline-light login" title="Iniciar sesión" (click)="login()" *ngIf="!isLogged">LOGIN</button>
            <button type="button" class="btn btn-outline-light login" title="Cerrar sesión" (click)="logout()" *ngIf="isLogged">LOGOUT</button>
        </div>
    </div>
</div>
