<div class="container"></div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 foto">
        <img src="../../../assets/R.jpg" alt="" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium sunt amet explicabo, laboriosam autem eum soluta deleniti, quo ratione, omnis vel at culpa dolorem suscipit architecto voluptatem vero aperiam provident!</p>
        </span>
    </div>
</div>
